
// ------------ STYLES
*
    padding: 0
    margin: 0
html
    height: 100%
body
    width: 100%
    height: 100%
    background: linear-gradient(lighten($clear,10%),$light)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    @include font
    display: flex
    justify-content: center
    align-items: center

#app
    background: $clear
    width: 100%
    height: 100%
    display: flex
    background-size: 800%
    position: relative
    padding: 1.5%
    box-sizing: border-box


.dialog
    position: absolute
    left: 5%
    right: 5%
    top: 5%
    bottom: 5%
    width: 90%
    height:90%
    @include floatcard
    background: #fff
    @include centerize
    z-index: 99

button
    border: none
    background: rgba(10,10,10,0.05)
    color: $main
    font-weight: bold
    padding: 5px 10px
    cursor: pointer
    border-radius: 3px
    &:hover
        background:$clear
    &:active
        color: $clear
        background: $main
    &.important
        font-size: 1.2rem
        color: $clear
        background: $main
        &:active
            color: $main
            background: $clear
    &:disabled
        opacity: 0.4
        transform: scale(0.6)
        transition: all 0.5s
    &.high
        background: $high
        color: $clear !important
//-------- Transitions
.zoom-enter-active
    animation: zoomAnimation .4s
.zoom-leave-active
    animation: zoomAnimation .4s reverse

@keyframes zoomAnimation
    0%
        transform: scale(0)
    50%
        transform: scale(1.1)
    100%
        transform: scale(1)



.slide-enter-active
    animation: slideAnimationEnter .4s
.slide-leave-active
    animation: slideAnimationExit .2s

@keyframes slideAnimationExit
    0%
        transform: translateY(0)
        opacity:1
    100%
        transform: translateY(-100px)
        opacity:0
@keyframes slideAnimationEnter
    0%
        opacity: 0
        position: absolute
    50%
        position: static
        transform: translateY(100px)
        opacity: 0
    100%
        transform: translateY(0)
        opacity:1
        


.material-icons-two-tone
    vertical-align: middle
    font-size: 18px
    filter: invert(50%)  sepia(94%)  hue-rotate(150deg)
    &.active
        filter: invert(100%)



// Generalities
.row
    display: flex
    justify-content: space-evenly
    &.vertical
        flex-direction: column
    &.center
        justify-content: center
    &.vecenter
        align-items: center
    &.wrap
        flex-wrap: wrap
.text-center
    text-align: center
.text-left
    text-align: left
.text-right
    text-align: right

//MARGIN
.ma-auto
    margin: auto
.ml-auto
    margin: auto
.mr-auto
    margin: auto
.mt-auto
    margin: auto
.mb-auto
    margin: auto
@for $i from 0 through 10
    $multi: $i*10
    .ma-#{$i}
        margin: #{$multi}px
    .my-#{$i}
        margin-top: #{$multi}px
        margin-bottom: #{$multi}px
    .mt-#{$i}
        margin-top: #{$multi}px
    .mb-#{$i}
        margin-bottom: #{$multi}px
    .mx-#{$i}
        margin-left: #{$multi}px
        margin-right: #{$multi}px
    .ml-#{$i}
        margin-left: #{$multi}px
    .mr-#{$i}
        margin-right: #{$multi}px


//PADDING
.pa-auto
    padding: auto
.pl-auto
    padding: auto
.pr-auto
    padding: auto
.pt-auto
    padding: auto
.pb-auto
    padding: auto
@for $i from 0 through 10
    $multi: $i*10
    .pa-#{$i}
        padding: #{$multi}px
    .py-#{$i}
        padding-top: #{$multi}px
        padding-bottom: #{$multi}px
    .pt-#{$i}
        padding-top: #{$multi}px
    .pb-#{$i}
        padding-bottom: #{$multi}px
    .px-#{$i}
        padding-left: #{$multi}px
        padding-right: #{$multi}px
    .pl-#{$i}
        padding-left: #{$multi}px
    .pr-#{$i}
        padding-right: #{$multi}px



.dark
    color: $dark !important
.main
    color: $main !important
.clear
    color: $clear !important
.light
    color: $light !important
.high
    color: $high !important
.negative
    color: $negative !important

.bg-dark
    background: $dark !important
.bg-main
    background: $main !important
.bg-clear
    background: $clear !important
.bg-light
    background: $light !important
.bg-high
    background: $high !important
.bg-negative
    background: $negative !important


.floatcard
    @include floatcard

.isok, .notok
    position: relative
    &:before, &:after
        content: ""
        position: absolute
        right: 0px
        top: 0px
        width: 24px
        height: 24px
        text-align: center
        @include floatcardsmall
        @include centerize
        z-index: 99
    &:after
        font-family: "Material Icons Two Tone"
        font-size: 18px
        filter: invert(100%)
.isok
    &:after
        content: "check"
    &:before
        background: $high
.notok
    &:after
        content: "clear"
    &:before
        background: $negative



.erroroda
    position: fixed
    width: 100%
    height: 100%
    left: 0
    right: 0
    top: 0
    bottom: 0
    @include centerize
    background: $negative
    color: $clear