// ----------- COLORS
$clear: #fafafa
$light: #cad6d9
$dark: #464F60
$main: #586A8D
$high: #4FBF9C
$accent: #286FF5
$test: #F4BD02
$negative: #E5606F
// ----------- MIXINS
@mixin font
    font-family: 'Fira Sans', sans-serif
@mixin floatcard
    border-radius: 6px
    box-shadow: 0 8px 12px rgba(0,0,0,0.08)
    box-sizing: border-box

@mixin floatcardsmall
    @include floatcard
    box-shadow: 0 6px 8px rgba(0,0,0,0.04)
    border-radius: 7px
@mixin centerize
    display: flex
    justify-content: center
    align-items: center

